{% extends "template.html" %}
{% block title%}Conta{% endblock %}
{% block head%}
<style>
    /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
{% endblock %}
{% block content %}
               
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 content">
                <br>
            <h4>Configurações de Conta</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 content">
        {%  with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='success' %}
                        <div class="alert alert-success" role="alert">{{message}}</div>
                    {% endif %}
                    {% if category=='error' %}
                        <div class="alert alert-danger" role="alert">{{message}}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 content">
            <br>
            <h5>Configurações de pagamento</h5>
            {% if default_source %}
            <b>Pagamento padrão</b>
                <div class="alert alert-info w-100 container-fluid">
                    <div class="row">
                        <div class="col-sm-12"><pre><b>Número do cartão:</b> **** **** **** {{default_source['last4']}}</pre></div>
                        <div class="col-sm-12"><pre><b>Empresa:</b> {{default_source['brand']}}</pre></div>
                        <div class="col-sm-8"><pre><b>Expiração:</b> {{default_source['exp_month']}}/{{default_source['exp_year']}}</pre></div>
                        <div class="col-sm-4" style="text-align: right">
                            <form action="/delete_default_card" method="POST" onsubmit="return confirm('Gostaria mesmo de deletar o cartão?');">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <button class="btn btn-danger" role="submit">Remover cartão</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <b>Alterar dados</b>
            <br>
            <form action="/charge" method="post" id="payment-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="flex-column">
                <label for="card-element">
                Cartão de Crédito
                </label>
                <div id="card-element" class="w-100">
                </div>
                <div id="card-errors" role="alert"></div>
            </div>
            <br>
            <button class="btn btn-info">Cadastrar</button>
            </form>
            <hr>
        </div>
        <div class="col-lg-4 content">
            <br>
            <h5>Assinaturas</h5>
            {% if subscriptions %}
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <th>#ID</th>
                        <th>Período</th>
                        <th>Validade</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        {% for subscription in subscriptions %}
                            <tr>
                                <td>{{subscription.id}}</td>
                                <td>{{subscription.plan.period}}</td>
                                <td>{{subscription.current_period_end}}</td>
                                <td>{{subscription.plan.value}}</td>
                                <td>{{subscription.status}}</td>
                                <td>
                                    {% if subscription.status != 'canceled' %}
                                        <form action="/cancel_subscription" method="POST" onsubmit="return confirm('Gostaria mesmo de cancelar sua assinatura?');">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input type="hidden" name="subscription" value="{{subscription.id}}"/>
                                            <button class="btn btn-danger" role="submit">Cancelar</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <b>Alterar plano</b>
            {% else %}
                <p>Nenhuma assinatura registrada até o momento</p>
            {% endif %}
            {% if  subscriptions %}
                <form action="/change_subscription" method="POST">
            {% else %}
                <form action="/create_subscription" method="POST">
            {% endif %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <select class="form-control" name="plan">
                    {% for plan in plans %}
                        <option value="{{plan.id}}">{{plan.period}} - R$ {{plan.value}}</option>
                    {% endfor %}
                </select>
                <br>
                {% if subscriptions %}
                    <button role="submit" class="btn btn-warning">
                        Alterar plano
                    </button>
                {% else %}
                    <button role="submit" class="btn btn-success">
                        Assinar plano
                    </button>  
                {% endif %}
            </form> 
            <hr>   
        </div>
    </div>
    <div class="row">
            <div class="col-lg-4 content">
                <form action="/update_account" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <br>
                    <h5>Atualização de senha</h5>
                    <div class="form-group">
                        <label for="password">Senha atual:</label>
                        <input type="password" class="form-control" id="password" name="password" value="" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Nova Senha:</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" value="" required>
                    </div>
                    <button id="update_button" type="submit" class="btn btn-primary" style="width: 100%">Atualizar dados</button>
                </form>
                <hr>
            </div>
            <div class="col-lg-4 content">
                <br>
                <h5>Excluir conta</h5>
                <div class="alert alert-danger">
                    <b>ATENÇÃO!</b>
                    <p>A exclusão da conta implica em cancelamento do plano de assinatura, sendo cobrando o valor referente ao mês do cancelamento no caso de assinatura mensal. Todos os dados de projetos e relatórios serão removidos e NÃO poderão ser recuperados posteriormente.</div>
                <form action="/delete_account" method="POST" onsubmit="return confirm('Gostaria mesmo de deletar a sua conta?');">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button id="delete_button" type="submit" class="btn btn-danger" style="width: 100%">Deletar conta</button>
                </form>
                <hr>
            </div>
        </div>
        
</div>
</div>
            

{% endblock %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    // Create a Stripe client.
    var stripe = Stripe('pk_test_YSaynTvjfSrk7GiIV1p87VR5005B4cRzAF');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
    base: {
        color: '#32325d',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
        color: '#aab7c4'
        },
    },
    invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
    }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style, hidePostalCode: true});

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
        displayError.textContent = event.error.message;
    } else {
        displayError.textContent = '';
    }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
        if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
        } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
        }
    });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
    }
</script>
{% endblock %}