{% extends "template.html" %}
{% block title%}Inicial{% endblock %}
{% block content %}
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-sm-12">
                <br>
                <div class="jumbotron">
                    <h1>Neodata</h1>
                    <hr>
                    <h3>Realize análises de <i>forecasting</i> para seu negócio de forma automatizada, periódica a acurada</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <h2>Entenda o processo</h2>
                <hr>
            </div>
            <div class="col-lg-4">
                <br>
                <div style="width: 100%; text-align: center">
                    <img src="https://img.icons8.com/wired/64/000000/database.png" style="width: 10%">
                </div>
                <div style="width: 100%; text-align: center">
                        <h4>Cadastro</h4>
                    </div>  
                <br>
                <p style="text-align: justify">Cadastre um banco de dados + uma query SQL que retorne
                    a série temporal de interesse. O resultado deve conter
                    os campos <b>sku</b>, <b>date</b> e <b>value</b>, indicando,
                    respectivamente, o identificador do produto de interesse,
                    a data em que aquele valor foi coletado e o valor propriamente
                    dito. Atualmente nossa plataforma oferece suporte apenas para bancos PostgreSQL.
                </p>
            </div>
            <div class="col-lg-4">
                <br>
                <div style="width: 100%; text-align: center">
                        <img src="https://img.icons8.com/wired/50/000000/settings.png" style="width: 10%">
                </div>
                <div style="width: 100%; text-align: center">
                        <h4><i>Grid Search</i></h4>
                    </div>  
                <br>
                <p style="text-align: justify">A partir das <i>queries</i> cadastradas nosso sistema realizará um processo de busca exaustiva dos melhores parâmetros a serem utilizados para a realização da análise preditiva. Este
                    processo é realizado antes da primeira predição ser feita, e é repetido semanalmente e para cada produto cadastrado</i></p>
            </div>
            <div class="col-lg-4">
                <br>
                <div style="width: 100%; text-align: center">
                        <img src="https://img.icons8.com/ios/50/000000/combo-chart.png" style="width: 10%">
                </div>
                <div style="width: 100%; text-align: center">
                    <h4><i>Forecasting</i></h4>
                </div>                
                <br>
                <p style="text-align: justify">Diariamente realizaremos a análise preditiva a partir dos dados obtidos do banco de dados cadastrado com base nos parâmetros identificados durante o processo de <i>grid search</i>
                    para esta etapa utilizados o algoritmo Prophet, do Facebook, que é capaz de realizar predições acuradas consirando fenômenos de sazonalidade.Os relatórios produzidos a partir do processo de <i>forecasting</i> podem ser visualizados na forma de gráficos e tabelas, e exportados como arquivos
                    .png, .xlsx e .pdf.</p>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-lg-12" style="text-align: center">
                <h2>Planos</h2>
                <hr>
                <br>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3" style="text-align: center">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h3 class="card-title">Mensal</h3>
                        <h5 class="card-text">R$ 98,35 / mês</h5>
                        <a href="/register" class="btn btn-info">Registrar</a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-3" style="text-align: center">
                <div class="card alert-success" style="width: 100%;">
                    <div class="card-body">
                            <h3 class="card-title">Anual</h3>
                            <h5 class="card-text">R$ 996,12 / ano (15,5 % de desconto)</h5>
                            <a href="/register" class="btn btn-info">Registrar</a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                </div>
                <div class="col-sm-3">
                    <p><b>Email: </b> neodata@gmail.com</p>
                    <p><b>Telefone: </b> +55 53 991562706</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% block javascript %}
    
{% endblock %}