{% extends "template.html" %}
{% block title%}Login{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 content">
            </div>
            <div class="col-lg-4 content">
                <div style="text-align: center">
                    <br>
                    <h4>Login</h4>
                    <hr>
                </div>
                <form action="/auth" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="fred.s.kremer@neodata.com">
                  </div>
                  <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="******">
                    <a href="/recovery">Esqueceu sua senha?</a>
                  </div>
                  <button type="submit" style="width: 100%" class="btn btn-primary">Logar</button>
                </form>
                <br>
                {%  with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-danger" role="alert">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="static/js/example.plot.js"></script>
{% endblock %}