{% extends "template.html" %}
{% block title%}Projetos{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 content">
                <div style="text-align: left">
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                                <h4>Projetos</h4>
                        </div>
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-2" style="text-align: right">
                            <a href="/projects/new" role="button" class="btn btn-info">Novo projeto<a/>
                        </div>
                    </div>
                    <hr>
                </div>
                <table id="projects" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Host</th>
                                <th>Número de relatórios</th>
                                <th>Data do ultimo relatório</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td><a href="/projects/{{project.id}}">{{project.name}}</a></td>
                                <td>{{project.db_host}}</td>
                                <td>{% if len(project.reports) > 0 %}
                                        {{len(project.reports)}}
                                    {% else %}
                                
                                    {% endif %}</td>
                                    <td>{% if len(project.reports) > 0 %}
                                            {{ project.reports[-1].date }}
                                        {% else %}
                                    
                                        {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <br>
                {%  with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='success' %}
                                <div class="alert alert-success" role="alert">{{message}}</div>
                            {% endif %}
                            {% if category=='error' %}
                                <div class="alert alert-danger" role="alert">{{message}}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

<script>
        $(document).ready(function() {
            $('#projects').DataTable( {
        "language": {
            "lengthMenu": "Mostrando _MENU_ projetos por página",
            "zeroRecords": "Nenhum projeto",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum projeto encontrado",
            "infoFiltered": "(filtrados a partir de _MAX_ projetos)",
            "search": "buscar"
        }
    } )
});
</script>
{% endblock %}