{% extends "template.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/theme/cobalt.css') }}"></script>

<script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/sql/sql.js') }}"></script>

{% endblock %}
{% block title%}Projeto{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 content">
                <div style="text-align: left">
                    <br>
                    {% if project == None %}
                        <h4>Novo Projeto</h4>
                    {% else %}
                        <h4>{{project.name}}</h4>
                    {% endif %}
                    <hr>
                    {%  with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='success' %}
                                <div class="alert alert-success" role="alert">{{message}}</div>
                            {% endif %}
                            {% if category=='error' %}
                                <div class="alert alert-danger" role="alert">{{message}}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>
                <div class="row">
                    {% if project %}
                        <form action="/projects/{{project.id}}/update" id="data_form" method="POST" style='float: right;'>
                    {% else %}
                        <form action="/projects" id="data_form" method="POST" style='float: left; padding: 5px;'>
                    {% endif %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputEmail4">Nome do Projeto</label>
                                <input class="form-control" name="project_name" value="{{project.name}}" placeholder="Análise de vendas mensais ..." required>
                            </div>
                            {% if project %}
                            <div class="form-group col-md-3">
                                <label for="">Status</label>
                                <p class="alert alert-info">{{project.status}}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-12">
                            <h4>Dados de conexão</h4>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Usuário</label>
                                    <input name="db_user" class="form-control" placeholder="root" value="{{project.db_user}}" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Senha</label>
                                    <input name="db_pass" type="password" class="form-control" value="{{project.db_pass}}" placeholder="*******">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Host</label>
                                    <input name="db_host" class="form-control" value="{{project.db_host}}" placeholder="db.mycompany.com.br" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Nome do banco de dados</label>
                                    <input name="db_name" class="form-control" value="{{project.db_name}}" placeholder="vendas" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Porta</label>
                                    <input name="db_port" type="number" class="form-control" value="{{project.db_port}}" placeholder="3306" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleFormControlSelect2">Engine</label>
                                    <p>Atualmente estamos suportando apenas bancos de dados PostgreSQL.</p>
                                    <hidden name='db_engine' value='postgres' /> 
                                </div>
                            </div>

                        <div class="col-lg-12">
                            <h5>Query SQL</h5>
                            <hr>
                            <textarea name="sql_query" id="code_editor">{{project.sql_query}}</textarea>
                            <br>
                        </div>
                    </form>
                    <div class="col-sm-12" style="text-align: right">
                        <input type="button" onclick="document.getElementById('data_form').submit()" class="btn btn-success" value="Salvar">
                        {% if project %}
                        &nbsp
                            <form action="/projects/{{project.id}}/delete" method="POST" onsubmit="return confirm('Gostaria mesmo de deletar este projeto?');" style='float: right;'>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <input type="submit" class="btn btn-danger" value="Deletar"/>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById('code_editor'), {
          lineNumbers: true,
          mode:  "sql",
          theme: "cobalt"
        });
    </script>
{% endblock %}