{% extends "template.html" %}
{% block title%}Recuperação de senha{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 content">
            </div>
            <div class="col-lg-4 content">
                <div style="text-align: center">
                    <br>
                    <h4>Fogor</h4>
                    <hr>
                </div>
                <form action="/send_recovery_email" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="fred.s.kremer@neodata.com" required>
                  </div>
                  <button id="submission_button" type="submit" class="btn btn-primary" style="width: 100%">Enviar Email</button>
                </form>
                <br>
                {%  with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger" role="alert">{{message}}</div>
                        {% else %}
                            <div class="alert alert-success" role="alert">{{message}}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}