{% extends "template.html" %}
{% block title%}Cadastrar{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 content">
            </div>
            <div class="col-lg-4 content">
                <div style="text-align: center">
                    <br>
                    <h4>Cadastrar</h4>
                    <hr>
                </div>
                <form action="/registration" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group">
                    <label for="name">Nome completo:</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="nome completo" placeholder="Frederico Schmitt Kremer" required>
                </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="fred.s.kremer@neodata.com" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="******" required>
                  </div>
                  <button id="submission_button" type="submit" class="btn btn-primary" style="width: 100%">Cadastrar</button>
                </form>
                <br>
                {%  with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='success' %}
                                <div class="alert alert-success" role="alert">{{message}}</div>
                            {% endif %}
                            {% if category=='error' %}
                                <div class="alert alert-danger" role="alert">{{message}}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}