{% extends "template.html" %}
{% block title%}Relatório{% endblock %}
{% block content %}

<div class="container-fluid" onresize="redraw_plot">
    <div class="row">
         <div class="col-lg-12 content">
            <br>
            <h4><b>Relatório: </b> {{report.project.name}} ({{report.date}})</h4>
            <br>
        </div>
    </div>
    {% if not from_public %}
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-2" style="text-align: right">
                {% if report.public %}
                <b>Link público: </b> <a href="http://{{public_link}}">{{public_link}}</a>
                {% endif %}
            </div>
            <div class="col-lg-4" style="text-align: right">
                <form action="/reports/{{report.id}}/make_public" method="POST"/>
                    {% if not report.public %}
                        <p><input type="submit" class="btn btn-danger col-lg-6" value="criar link público"/></p> 
                        <p><div class="alert alert-danger">Lembre-se: qualquer pessoa com o link poderá acessar este report!</div></p>
                    {% else %}      
                        <input type="submit" class="btn btn-warning col-lg-6" value="bloquear link público"/>   
                    {% endif %}  
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
                <br>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <select id="sku_selector" class="form-control">
                            {% for s,sku in enumerate(report_data_json) %}
                                <option value={{s}} onchange='redraw_plot' onload='redraw_plot'>
                                    {{sku['sku']}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <div id="plot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="table_container" class="col-lg-6">
            <table id="report" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Date</th>
                        <th>Prediction</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in report_data %}
                        <tr>
                            <td>{{data['sku']}}</td>
                            <td>{{data['date']}}</td>
                            <td>{{data['predicted']}}</td>
                            <td>{{data['real']}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}

<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>

<script>

        var response_data = JSON.parse(`{{report_data_json | tojson | safe}}`)

        function redraw_plot(){

            var sku = document.getElementById('sku_selector').value;
            var real_data = {
                type: "scatter",
                mode: "lines",
                name: 'Real data',
                x: response_data[sku]['real'].map((data)=>(data.date)),
                y: response_data[sku]['real'].map((data)=>(data.value)),
                line: {color: '#0000FF'}
            }

            var predicted_data = {
                type: "scatter",
                mode: "lines",
                name: 'Predicted data',
                x: response_data[sku]['predicted'].map((data)=>(data.date)),
                y: response_data[sku]['predicted'].map((data)=>(data.value)),
                line: {color: '#FF0000'}
            }

            var data = [real_data, predicted_data];

            var layout = {
                title: 'Basic Time Series',
            };

            Plotly.newPlot('plot', data, layout);

        }

        redraw_plot()
        setInterval('redraw_plot();', 3000);

</script>

<script>

    $(document).ready(function() {
        var table = $('#report').DataTable( {
            lengthChange: false,
            buttons: [ 'copy', 'excel', 'pdf', 'colvis' ],
                language: {
                lengthMenu: "Mostrando _MENU_ predições por página",
                zeroRecords: "Nenhuma predição",
                info: "Mostrando página _PAGE_ de _PAGES_",
                infoEmpty: "Nenhuma predição encontrado",
                infoFiltered: "(filtrados a partir de _MAX_ predições)",
                search: "buscar"
            }
        } );
    
        table.buttons().container()
            .appendTo( '#table_container .col-md-6:eq(0)' );
    });

</script>

{% endblock %}