{% extends "template.html" %}
{% block title%}Relatórios{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 content">
                <div style="text-align: left">
                    <br>
                    <div class="row">
                        <div class="col-sm-2">
                                <h4>Meus Relatórios</h4>
                        </div>
                        <div class="col-sm-8">
                        </div>
                    </div>
                    <hr>
                </div>
                <table id="reports" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Projeto</th>
                                <th>Data do relatório</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for report in reports %}
                            <tr>
                                <td><a href="/reports/{{report.id}}">{{report.project.name}}</a></td>
                                <td>{{report.date}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <br>
                {%  with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='success' %}
                                <div class="alert alert-success" role="alert">{{message}}</div>
                            {% endif %}
                            {% if category=='error' %}
                                <div class="alert alert-danger" role="alert">{{message}}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

<script>
        $(document).ready(function() {
            $('#reports').DataTable( {
        "language": {
            "lengthMenu": "Mostrando _MENU_ relatórios por página",
            "zeroRecords": "Nenhum relatório",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Nenhum relatório encontrado",
            "infoFiltered": "(filtrados a partir de _MAX_ relatórios)",
            "search": "buscar"
        }
    } )
});
</script>
{% endblock %}